<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - página inicial</title>

<!-- Import css do bootstrap -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>
<body>

	<!-- Barra de navegação do bootstrap -->
	<nav class=" navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Gerenciador de tarefas</a>
	</nav>
	
	<p> Olá, seja bem-vindo ao Gerenciador de tarefas!</p>
	<p th:text="${mensagem}"></p>
	
	<!-- Import do jquery bootstrap-->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>