<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gerenciador de tarefas - página inicial</title>

<!-- Import css do bootstrap -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>
<body>
	<!-- troca o conteúdo da div por um fragmento -->
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>

	<div class="container">
		<p> Olá, seja bem-vindo ao Gerenciador de tarefas!</p>
		<p th:text="${mensagem}"></p>
	</div>
	
	<!-- Import do jquery bootstrap-->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>